.wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabs-content-body{
  font-size: 2rem;
  height: 200px;

  border: 1px solid #000;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}